<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingde.mapper.CommentMapper">

    <select id="selectAll" resultType="com.mingde.entity.Comment">
        select comment.*, user.name as userName, user.avatar as userAvatar
        from comment
        left join user on comment.user_id = user.id
        <where>
            <if test="content != null"> and comment.content like concat('%', #{content}, '%')</if>
            <if test="userId != null"> and comment.user_id = #{userId}</if>
            <if test="fid != null"> and comment.fid = #{fid}</if>
            <if test="module != null"> and comment.module = #{module}</if>
            <if test="rootId != null"> and comment.root_id = #{rootId}</if>
        </where>
        order by comment.id desc
    </select>

    <select id="selectAllPage" resultType="com.mingde.entity.Comment">
        select comment.*, user.name as userName, user.avatar as userAvatar
        from comment
        left join user on comment.user_id = user.id
        <where>
            <if test="query != null and query.content != null"> and comment.content like concat('%', #{query.content}, '%')</if>
            <if test="query != null and query.userId != null"> and comment.user_id = #{query.userId}</if>
            <if test="query != null and query.fid != null"> and comment.fid = #{query.fid}</if>
            <if test="query != null and query.module != null"> and comment.module = #{query.module}</if>
            <if test="query != null and query.rootId != null"> and comment.root_id = #{query.rootId}</if>
        </where>
        order by comment.id desc
    </select>

    <select id="selectById" resultType="com.mingde.entity.Comment">
        select * from comment
        where id = #{id}
    </select>

    <select id="selectRoot" resultType="com.mingde.entity.Comment">
        select comment.*, user.name as userName, user.avatar as userAvatar
        from comment
                 left join user on comment.user_id = user.id
        where comment.fid = #{fid} and comment.module = #{module} and comment.pid is null
        order by comment.id desc
    </select>

    <select id="selectRootPage" resultType="com.mingde.entity.Comment">
        select comment.*, user.name as userName, user.avatar as userAvatar
        from comment
                 left join user on comment.user_id = user.id
        where comment.fid = #{query.fid} and comment.module = #{query.module} and comment.pid is null
        order by comment.id desc
    </select>

    <select id="selectByRootId" resultType="com.mingde.entity.Comment">
        select comment.*,
               user.name as userName,
               user.avatar as userAvatar,
               u2.name as parentUserName
        from comment
                 left join user on comment.user_id = user.id
                 left join comment c2 on comment.pid = c2.id
                 left join user u2 on c2.user_id = u2.id
        where comment.root_id = #{rootId} and comment.pid is not null
        order by comment.id desc
    </select>


    <select id="selectByRootIds" resultType="com.mingde.entity.Comment">
        select comment.*,
               user.name as userName,
               user.avatar as userAvatar,
               u2.name as parentUserName
        from comment
                 left join user on comment.user_id = user.id
                 left join comment c2 on comment.pid = c2.id
                 left join user u2 on c2.user_id = u2.id
        where comment.root_id in
        <foreach collection="rootIds" item="rootId" open="(" separator="," close=")">
            #{rootId}
        </foreach>
        and comment.pid is not null
        order by comment.id desc
    </select>
</mapper>