<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingde.mapper.FeedbackMapper">

    <sql id="Base_Column_List">
        title,content,user_id,time,reply
    </sql>

    <select id="selectAll" resultType="com.mingde.entity.Feedback">
        select feedback.*, user.name as userName  from feedback
        left join user on feedback.user_id = user.id
        <where>
            <if test="title != null"> and feedback.title like concat('%', #{title}, '%')</if>
            <if test="userId != null"> and feedback.user_id = #{userId}</if>
        </where>
        order by feedback.id desc
    </select>

    <select id="selectPage" resultType="com.mingde.entity.Feedback">
        select feedback.*, user.name as userName  from feedback
        left join user on feedback.user_id = user.id
        <where>
            <if test="query != null and query.title != null"> and feedback.title like concat('%', #{query.title}, '%')</if>
            <if test="query != null and query.userId != null"> and feedback.user_id = #{query.userId}</if>
        </where>
        order by feedback.id desc
    </select>

    <select id="selectById" resultType="com.mingde.entity.Feedback">
        select
        <include refid="Base_Column_List" />
        from feedback
        where id = #{id}
    </select>

</mapper>