<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingde.mapper.OrdersMapper">

    <sql id="Base_Column_List">
        id,order_no,name,tourism_img,tourism_price,tourism_id,num,total,user_id,time,pay_no,pay_time,status
    </sql>

    <select id="selectAll" resultType="com.mingde.entity.Orders">
        select orders.*, user.name as userName from orders
        left join user on orders.user_id = user.id
        <where>
            <if test="orderNo != null"> and orders.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="userId != null"> and orders.user_id = #{userId}</if>
        </where>
        order by orders.id desc
    </select>

    <select id="selectPage" resultType="com.mingde.entity.Orders">
        select orders.*, user.name as userName from orders
        left join user on orders.user_id = user.id
        <where>
            <if test="query != null and query.orderNo != null"> and orders.order_no like concat('%', #{query.orderNo}, '%')</if>
            <if test="query != null and query.userId != null"> and orders.user_id = #{query.userId}</if>
        </where>
        order by orders.id desc
    </select>

    <select id="selectById" resultType="com.mingde.entity.Orders">
        select orders.*, user.name as userName from orders
        left join user on orders.user_id = user.id
        where orders.id = #{id}
    </select>

</mapper>