<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingde.mapper.TourismMapper">

    <select id="selectAll" resultType="com.mingde.entity.Tourism">
        select tourism.*, coalesce(order_stats.orderNum, 0) as orderNum from tourism
        left join (
            select tourism_id, sum(num) as orderNum
            from orders
            group by tourism_id
        ) order_stats on tourism.id = order_stats.tourism_id
        <where>
            <if test="name != null"> and tourism.name like concat('%', #{name}, '%')</if>
        </where>
        <choose>
            <when test="sort == 'hot'">order by orderNum desc</when>
            <when test="sort == 'new'">order by tourism.id desc</when>
            <otherwise>
                order by tourism.id desc
            </otherwise>
        </choose>
    </select>

    <select id="selectPage" resultType="com.mingde.entity.Tourism">
        select tourism.*, coalesce(order_stats.orderNum, 0) as orderNum from tourism
        left join (
            select tourism_id, sum(num) as orderNum
            from orders
            group by tourism_id
        ) order_stats on tourism.id = order_stats.tourism_id
        <where>
            <if test="query != null and query.name != null"> and tourism.name like concat('%', #{query.name}, '%')</if>
        </where>
        <choose>
            <when test="query != null and query.sort == 'hot'">order by orderNum desc</when>
            <when test="query != null and query.sort == 'new'">order by tourism.id desc</when>
            <otherwise>
                order by tourism.id desc
            </otherwise>
        </choose>
    </select>

</mapper>