<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingde.mapper.TravelsMapper">

    <select id="selectAll" resultType="com.mingde.entity.Travels">
        select
        t.*,
        u.name AS userName
        from travels t
        left join user u on t.user_id = u.id
        <where>
            <if test="title != null"> and t.title like concat('%', #{title}, '%')</if>
            <if test="status != null"> and t.status = #{status}</if>
            <if test="userId != null"> and t.user_id = #{userId}</if>
        </where>
        <if test="sort == 'hot'">
            order by t.read_count desc
        </if>
        <if test="sort == 'new' or sort == null">
            order by t.id desc
        </if>
    </select>

    <select id="selectPage" resultType="com.mingde.entity.Travels">
        select
        t.*,
        u.name AS userName
        from travels t
        left join user u on t.user_id = u.id
        <where>
            <if test="query != null and query.title != null"> and t.title like concat('%', #{query.title}, '%')</if>
            <if test="query != null and query.status != null"> and t.status = #{query.status}</if>
            <if test="query != null and query.userId != null"> and t.user_id = #{query.userId}</if>
        </where>
        <choose>
            <when test="query != null and query.sort == 'hot'">
                order by t.read_count desc
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
    </select>

</mapper>